<div class="row" tagy-cms-component="root elements">


<div class="small-5 columns column-resize">
    <div class="panel">

        <tagy-cms-Component-List></tagy-cms-Component-List>
        <a href="" class="button tiny" ng-click="selectImage('https://angularjs.org/img/ng-europe-logo-compact-on-white.png')"><img style="max-width: 100%" src="https://angularjs.org/img/ng-europe-logo-compact-on-white.png"/></a>
        <a href="" class="button tiny"  ng-click="selectImage('https://angularjs.org/img/AngularJS-large.png')"><img style="max-width: 100%" src="https://angularjs.org/img/AngularJS-large.png"/></a>
        <a href="" class="button tiny"  ng-click="selectImage('http://lh5.ggpht.com/vavJdttSCNmJihsnGJ5f8r7qKXnt25u36CQ9jUDk_VfPG5OFY_4LyMALWE0Cg_PFf47EqaYSgAsMDuOeWswnqEkXKhDZrB3Oj2NZkfkR')"><img style="max-width: 100%" src="http://lh5.ggpht.com/vavJdttSCNmJihsnGJ5f8r7qKXnt25u36CQ9jUDk_VfPG5OFY_4LyMALWE0Cg_PFf47EqaYSgAsMDuOeWswnqEkXKhDZrB3Oj2NZkfkR"/></a>

    </div>
</div>


<div class="small-7 columns">

    <h1 tagy-cms-editable="gallery title">"tagy-cms-gallery" attribute creates editable gallery</h1>
    <ul class="small-block-grid-3" tagy-cms-gallery="">
        <li>
            <div class="" tagy-cms-component="" editable-title="gallery item
    " editable-description="comp desc">
                <div class="thumbnail"><img tagy-cms-editable="image"
                                            style="max-height:200px;"
                                            src="https://angularjs.org/img/AngularJS-large.png">

                    <div class="caption"><h3 tagy-cms-editable="" editable-title="thumbnail title" editable-description="change my
            title">Thumbnail title one</h3>

                        <p tagy-cms-editable="" editable-title="item body text" editable-description="description...">Cras justo odio,
                            dapibus ac facilisis in, egestas eget quam. Donec id elit
                            non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                            elit.</p>

                        <p><a
                                tagy-cms-editable="" editable-title="button 1" editable-description="" href="#" class="btn btn-primary"
                                role="button">Button 1</a> <a tagy-cms-editable="" editable-title="button 2" editable-description=""
                                                              href="#"
                                                              class="btn btn-default" role="button">Button 2</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="" tagy-cms-component="" editable-title="gallery item
    " editable-description="comp desc">
                <div class="thumbnail"><img tagy-cms-editable="image"
                                            style="max-height:200px;"
                                            src="https://angularjs.org/img/AngularJS-large.png">

                    <div class="caption"><h3 tagy-cms-editable="" editable-title="thumbnail title" editable-description="change my
            title">Thumbnail title one</h3>

                        <p tagy-cms-editable="" editable-title="item body text" editable-description="description...">Cras justo odio,
                            dapibus ac facilisis in, egestas eget quam. Donec id elit
                            non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                            elit.</p>

                        <p>
                        <ul tagy-cms-gallery="">
                            <li><small tagy-cms-editable="sub title">this is nested gallery item</small></li>
                        </ul>
                            <a
                                tagy-cms-editable="" editable-title="button 1" editable-description="" href="#" class="btn btn-primary"
                                role="button">Button 1</a> <a tagy-cms-editable="" editable-title="button 2" editable-description=""
                                                              href="#"
                                                              class="btn btn-default" role="button">Button 2</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
<br/>
<br/>
    <h1 tagy-cms-editable="gallery title">gallery with new item template</h1>
    <ul class="small-block-grid-3" tagy-cms-gallery="">
        <!--<li tagy-cms-gallery-item>
        <div tagy-cms-component="new gallery item" editable-description="comp desc">
            <div class="thumbnail"><img tagy-cms-editable="image"
                                        style="max-height:200px;"
                                        src="http://lh5.ggpht.com/vavJdttSCNmJihsnGJ5f8r7qKXnt25u36CQ9jUDk_VfPG5OFY_4LyMALWE0Cg_PFf47EqaYSgAsMDuOeWswnqEkXKhDZrB3Oj2NZkfkR">

                <div class="caption"><h3 tagy-cms-editable="" editable-title="thumbnail title" editable-description="change my
            title">gallery item template</h3>

                    <p tagy-cms-editable="" editable-title="item body text" editable-description="description...">Cras justo odio,
                        dapibus ac facilisis in, egestas eget quam. Donec id elit
                        non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                        elit.</p>

                    <p><a
                            tagy-cms-editable="" editable-title="button 1" editable-description="" href="#" class="btn btn-primary"
                            role="button">Button 1</a> <a tagy-cms-editable="" editable-title="button 2" editable-description=""
                                                          href="#"
                                                          class="btn btn-default" role="button">Button 2</a></p>
                </div>
            </div>
        </div>
        </li>-->

        <li>
            <div class="" tagy-cms-component="" editable-title="gallery item
    " editable-description="comp desc">
                <div class="thumbnail"><img tagy-cms-editable="image"
                                            style="max-height:200px;"
                                            src="https://angularjs.org/img/ng-europe-logo-compact-on-white.png">

                    <div class="caption"><h3 tagy-cms-editable="" editable-title="thumbnail title" editable-description="change my
            title">Thumbnail title one</h3>

                        <p tagy-cms-editable="" editable-title="item body text" editable-description="description...">Cras justo odio,
                            dapibus ac facilisis in, egestas eget quam. Donec id elit
                            non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                            elit.</p>

                        <p><a
                                tagy-cms-editable="" editable-title="button 1" editable-description="" href="#" class="btn btn-primary"
                                role="button">Button 1</a> <a tagy-cms-editable="" editable-title="button 2" editable-description=""
                                                              href="#"
                                                              class="btn btn-default" role="button">Button 2</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="" tagy-cms-component="" editable-title="gallery item
    " editable-description="comp desc">
                <div class="thumbnail"><img tagy-cms-editable="image"
                                            style="max-height:200px;"
                                            src="https://angularjs.org/img/ng-europe-logo-compact-on-white.png">

                    <div class="caption"><h3 tagy-cms-editable="" editable-title="thumbnail title" editable-description="change my
            title">Thumbnail title one</h3>

                        <p tagy-cms-editable="" editable-title="item body text" editable-description="description...">Cras justo odio,
                            dapibus ac facilisis in, egestas eget quam. Donec id elit
                            non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                            elit.</p>

                        <p><a
                                tagy-cms-editable="" editable-title="button 1" editable-description="" href="#" class="btn btn-primary"
                                role="button">Button 1</a> <a tagy-cms-editable="" editable-title="button 2" editable-description=""
                                                              href="#"
                                                              class="btn btn-default" role="button">Button 2</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>


</div>

</div>